<div class="card offset-s3 col s9 z-depth-3" style="margin-top: 1%">
    <div class="row valign-wrapper">
        <form method="POST" class="offset-s col s12">
            {% csrf_token %}
            <div style="margin-top: 20px;">
                <input class="col s12" style="font-family: GothDotGothic;" type="text" value="Edit {{lecture.course}} Lecture >>" disabled/>
                <p class="col s6">
                    <input name="category" type="radio" id="cc" value="cc" {% if lecture.course == "cc" %} checked {% endif %}/>
                    <label for="cc" style="font-family: GothDotGothic;">Cloud Computing</label>
                </p>
                <p class="col s6">
                    <input class="with-gap" name="category" type="radio" id="cnm" value="cnm" {% if lecture.course == "cnm" %} checked {% endif %} />
                    <label for="cnm" style="font-family: GothDotGothic;">Computer Networks Management</label>
                </p>
                <p class="col s6">
                    <input name="category" type="radio" id="ec" value="ec" {% if lecture.course == "ec" %} checked {% endif %}/>
                    <label for="ec" style="font-family: GothDotGothic;">E-Commerce</label>
                </p>
                <p class="col s6">
                    <input name="category" type="radio" id="mad" value="mad" {% if lecture.course == "mad" %} checked {% endif %}/>
                    <label for="mad" style="font-family: GothDotGothic;">Mobile Applications Development</label>
                </p>
                <p class="col s6">
                    <input name="category" type="radio" id="osc" value="osc" {% if lecture.course == "osc" %} checked {% endif %}/>
                    <label for="osc" style="font-family: GothDotGothic;">Operating System Concepts</label>
                </p>
                <p class="col s6">
                    <input name="category" type="radio" id="rm" value="rm" {% if lecture.course == "rm" %} checked {% endif %}/>
                    <label for="rm" style="font-family: GothDotGothic;">Research Methodology</label>
                </p>






            <label for="lec_no" style="font-family: GothDotGothic;">Lecture no</label>
            <input class="col offset-s2 s10" id="lec_no" style="padding: 5px; margin: 20px;" type="text" name="lec_no" value="{{lecture.lecture_no}}" />

            <div>
                <label for="lec_na" style="font-family: GothDotGothic;">Lecture name</label>
                <input class="col offset-s2 s10" id="lec_na" style="padding: 5px; margin: 20px;" type="text" name="lec_na" value="{{lecture.lecture_na}}" />
            </div>

            <div>
                <label for="pdf_link" style="font-family: GothDotGothic;">pdf link</label>
                <input class="col offset-s2 s10" id="pdf_link" style="padding: 5px; margin: 20px;" type="text" name="pdf" value="{{lecture.pdf}}" />
            </div>


            <div>
                <label for="ppt" style="font-family: GothDotGothic;">ppt link</label>
                <input class="col offset-s2 s10" id="ppt" style="padding: 5px; margin: 20px;" type="text" name="ppt" value="{{lecture.ppt}}" />
            </div>


            <div>
                <label for="word" style="font-family: GothDotGothic;">word link</label>
                <input class="col offset-s2 s10" id="word" style="padding: 5px; margin: 20px;" type="text" name="word" value="{{lecture.word}}" />
            </div>


            <div>
                <label for="video" style="font-family: GothDotGothic;">video link</label>
                <input class="col offset-s2 s10" id="video" style="padding: 5px; margin: 20px;" type="text" name="video" value="{{lecture.video}}" />
            </div>

            <button class="col offset-s s12 btn" type="submit" style="margin-bottom: 10px; background-color: #ffc107;"
                name="update">Update</button>
        </form>
    </div>
</div>
