{% load static %}

<style type="text/css">
    .btn-cus{
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        height: 30px;
        width: 128px;
        margin-left: 30px;
    }

    .btn-cus-v{
         background-color: #f8f9fa;
        border-color: #f8f9fa;
        height: 30px;
        width: 128px;
        margin-left: 55px;
        margin-top: -15px;
    }

    .mf{
        font-family: materialize-icons; 
        color: black;
    }
</style>


<div class="container" style="margin-top: 1%;">
    <div class="row valign-wrapper">
        <div class="card col s12 z-depth-5">
          <ul class="collapsible z-depth-0">
            <li>
              <div class="collapsible-header">
                <label><h4>SEM6 الكورسـات</h4></label>
              </div>
              <div class="collapsible-body">
              <ul class="collapsible z-depth-0">
                <li>
                  <div class="collapsible-header">
                    <img src="{% static 'img/courses/Ai.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Ai</b>
                    </div>
                </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not ai %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in ai %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                            <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                      <img src="{% static 'img/courses/webTech2.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Web Technologies & Services</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not web %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in web %}
                        <ul class="collapsible  z-depth-5">
                            <li>
                                <div class="collapsible-header">
                                  <h5 class="col offset-s3">
                                    {% if lecture.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{lecture.lecture_no}}
                                    {% endif %}
                                  </h5>
                                </div>
                                <div class="collapsible-body">
                                    <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                                <br/>
                                
                                {% if lecture.pdf != '0' %}
                                  {% if lecture.pdf %}
                                    <label>PDF</label>
                                    <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                        <i class="material-icons mf" style="color: pink;">download</i>
                                    </a>
                                    <br/><br/>
                                  {% endif %}
                                {% endif %}
                                {% if lecture.ppt != '0' %}
                                  <label>PPT</label>
                                  <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: red;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.word != '0' %}
                                  <label>WORD</label>
                                  <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: blue;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.video != '0' %}
                                <label>VIDEO</label>
                                  <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                      <i class="material-icons mf">download</i>
                                  </a><br/>
                                {% endif %}
                            </div>
                            </li>
                        </ul>
                        {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/OPP.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Advanced OOP</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not oop %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in oop %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/multimedia.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Multimedia</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not multimedia %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in multimedia %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sofeng.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Software Engineering 2</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not softeng %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in softeng %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Chapter {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/databaseAppDev.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>DB Apps Development</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not db_apps %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in db_apps %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/simModeling.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Modeling & Simulation</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not mod_sim %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in mod_sim %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              </ul>
              </div>
            </li>
          </ul>
          <!--   Divider    -->
          <ul class="collapsible z-depth-0">
            <li>
              <label><h4>SEM7 الكورسـات</h4></label>
              <div class="collapsible-body">
              <ul class="collapsible z-depth-0">
                <li>
                  <img src="{% static 'img/courses/Ai.png' %}" style="width: 64px; height: 64px;">
                  <div class="col offset-s1" style="margin-top: 20px;">
                      <b>Ai</b>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not ai %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in ai %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                            <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                      <img src="{% static 'img/courses/webTech2.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Web Technologies & Services</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not web %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in web %}
                        <ul class="collapsible  z-depth-5">
                            <li>
                                <div class="collapsible-header">
                                  <h5 class="col offset-s3">
                                    {% if lecture.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{lecture.lecture_no}}
                                    {% endif %}
                                  </h5>
                                </div>
                                <div class="collapsible-body">
                                    <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                                <br/>
                                
                                {% if lecture.pdf != '0' %}
                                  {% if lecture.pdf %}
                                    <label>PDF</label>
                                    <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                        <i class="material-icons mf" style="color: pink;">download</i>
                                    </a>
                                    <br/><br/>
                                  {% endif %}
                                {% endif %}
                                {% if lecture.ppt != '0' %}
                                  <label>PPT</label>
                                  <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: red;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.word != '0' %}
                                  <label>WORD</label>
                                  <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: blue;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.video != '0' %}
                                <label>VIDEO</label>
                                  <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                      <i class="material-icons mf">download</i>
                                  </a><br/>
                                {% endif %}
                            </div>
                            </li>
                        </ul>
                        {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/OPP.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Advanced OOP</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not oop %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in oop %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/multimedia.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Multimedia</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not multimedia %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in multimedia %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sofeng.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Software Engineering 2</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not softeng %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in softeng %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Chapter {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/databaseAppDev.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>DB Apps Development</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not db_apps %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in db_apps %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/simModeling.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Modeling & Simulation</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not mod_sim %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in mod_sim %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              </ul>
              </div>
            </li>
          </ul>
        </div>
    </div>
</div>
