{% load static %}

<style type="text/css">
    .btn-cus{
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        height: 30px;
        width: 128px;
        margin-left: 30px;
    }

    .btn-cus-v{
         background-color: #f8f9fa;
        border-color: #f8f9fa;
        height: 30px;
        width: 128px;
        margin-left: 55px;
        margin-top: -15px;
    }

    .mf{
        font-family: materialize-icons; 
        color: black;
    }
</style>


<div class="container" style="margin-top: 1%;">
    <div class="row valign-wrapper">
        <div class="card col s12 z-depth-5">
          <ul class="collapsible z-depth-0">
            <li>
              <div class="collapsible-header">
                <label><h5 style="color: black; font-weight: bold; text-align: center;"> 🖤 إعتذار 🤍 </h5></label>
              </div>
              <div class="collapsible-body">
              <ul class="collapsible z-depth-0">
                <p dir="rtl" style="text-align: center; font-family: GothDotGothic; font-size: 18px;">
   ناس كتيرة بتستاهل اني اعتذر ليها واسمائها
 to be enlist  
 من الحصل في التلغرام
وانا بعتذر جدا لل الاصابهم الضرر 

لكن كان لازم في نقطة ما اني اوقف وراجعي حياتي 
والبحصل فيها بسبب حاجات شفتها من ناس جد ما كانو بستاهلو
اني اضيع ثانية من وقتي عشانهم
 ( تخذلهم مرة واحدة ينسو ليك

 كل الفات ويظهرو بألوانهم الحقيقة )
 وفي لحظة غضب  من الشفتو ما قدرته اسيطر 
على غضبي ومسحت اي شي في التلغرام والتلغرام نسفو
لو جيت للحقيقة انا ما ندمان على العملتو هناك
بلعكس بعتبرها

checkpoint
مهمة في حياتي 
 بلتالي بقدم اعتذاري لكل الناس الإتضررو من الحصل
ودا إعتذار صغير انو اعدته رفع المواد هنا تاني للناس المحتاجة ليها
ومن (مهدي ، زاهية) الساعدو القنوات كتير في بداياتها
الاسماء كتيرة على  انها تنذكر لكن الاعتذار موصول ليهم برضو


 أنا آسف
زميل ✍️
                
                </p>
              </ul>
            </li>
            <li>
              <div class="collapsible-header">
                <label><h4>SEM6 كورسـات</h4></label>
              </div>
              <div class="collapsible-body">
              <ul class="collapsible z-depth-0">
                <li>
                  <div class="collapsible-header">
                    <img src="{% static 'img/courses/Ai.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Ai</b>
                    </div>
                </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not ai %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in ai %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                            <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                      <img src="{% static 'img/courses/webTech2.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Web Technologies & Services</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not web %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in web %}
                        <ul class="collapsible  z-depth-5">
                            <li>
                                <div class="collapsible-header">
                                  <h5 class="col offset-s3">
                                    {% if lecture.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{lecture.lecture_no}}
                                    {% endif %}
                                  </h5>
                                </div>
                                <div class="collapsible-body">
                                    <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                                <br/>
                                
                                {% if lecture.pdf != '0' %}
                                  {% if lecture.pdf %}
                                    <label>PDF</label>
                                    <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                        <i class="material-icons mf" style="color: pink;">download</i>
                                    </a>
                                    <br/><br/>
                                  {% endif %}
                                {% endif %}
                                {% if lecture.ppt != '0' %}
                                  <label>PPT</label>
                                  <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: red;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.word != '0' %}
                                  <label>WORD</label>
                                  <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: blue;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.video != '0' %}
                                <label>VIDEO</label>
                                  <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                      <i class="material-icons mf">download</i>
                                  </a><br/>
                                {% endif %}
                            </div>
                            </li>
                        </ul>
                        {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/OPP.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Advanced OOP</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not oop %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in oop %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/multimedia.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Multimedia</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not multimedia %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in multimedia %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sofeng.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Software Engineering 2</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not softeng %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in softeng %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/databaseAppDev.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>DB Apps Development</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not db_apps %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in db_apps %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/simModeling.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Modeling & Simulation</b>
                    </div>
                  </div>
                  <div class="collapsible-body" style="margin: 0px; padding: 0px;">
                    {% if not mod_sim %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in mod_sim %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              </ul>
              </div>
            </li>
          </ul>
          <!--   Divider    -->
          <ul class="collapsible z-depth-0">
            <li>
              <div class="collapsible-header">
                <label><h4>SEM7 كورسـات</h4></label>
              </div>
            {% comment %} <div class="collapsible-body"> {% endcomment %}
              <ul class="collapsible z-depth-0">
                <li>
                  <div class="collapsible-header">
                    <img src="{% static 'img/courses/sem7/cloud-computing.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Cloud Computing</b>
                    </div>
                </div>
                  <div class="collapsible-body">
                    {% if not cc %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in cc %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                            <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                      <img src="{% static 'img/courses/sem7/computer-servers.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Computer Networks Management</b>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    {% if not cnm %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in cnm %}
                        <ul class="collapsible  z-depth-5">
                            <li>
                                <div class="collapsible-header">
                                  <h5 class="col offset-s3">
                                    {% if lecture.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{lecture.lecture_no}}
                                    {% endif %}
                                  </h5>
                                </div>
                                <div class="collapsible-body">
                                    <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                                <br/>
                                
                                {% if lecture.pdf != '0' %}
                                  {% if lecture.pdf %}
                                    <label>PDF</label>
                                    <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                        <i class="material-icons mf" style="color: pink;">download</i>
                                    </a>
                                    <br/><br/>
                                  {% endif %}
                                {% endif %}
                                {% if lecture.ppt != '0' %}
                                  <label>PPT</label>
                                  <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: red;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.word != '0' %}
                                  <label>WORD</label>
                                  <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: blue;">download</i>
                                  </a><br/><br/>
                                {% endif %}
                                {% if lecture.video != '0' %}
                                <label>VIDEO</label>
                                  <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                      <i class="material-icons mf">download</i>
                                  </a><br/>
                                {% endif %}
                            </div>
                            </li>
                        </ul>
                        {% endfor %}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sem7/E-Commerce.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>E-Commerce</b>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    {% if not ec %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in ec %}
                      <ul class="collapsible  z-depth-5">
                        <li>
                            <div class="collapsible-header">
                              <h5 class="col offset-s3">
                                {% if lecture.lecture_no == 0 %}
                                  <div class="col offset-s1">Asset</div>
                                {% else %}
                                   Lecture {{lecture.lecture_no}}
                                {% endif %}
                              </h5>
                            </div>
                            <div class="collapsible-body">
                                <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                            <br/>
                            
                            {% if lecture.pdf != '0' %}
                              {% if lecture.pdf %}
                                <label>PDF</label>
                                <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: pink;">download</i>
                                </a>
                                <br/><br/>
                              {% endif %}
                            {% endif %}
                            {% if lecture.ppt != '0' %}
                              <label>PPT</label>
                              <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: red;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.word != '0' %}
                              <label>WORD</label>
                              <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                  <i class="material-icons mf" style="color: blue;">download</i>
                              </a><br/><br/>
                            {% endif %}
                            {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                              <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                  <i class="material-icons mf">download</i>
                              </a><br/>
                            {% endif %}
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sem7/android.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Mobile Applications Development</b>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    {% if not mad %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in mad %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sem7/OperatingSystemsConcepts.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Operating System Concepts</b>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    {% if not osc %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in osc %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
                  <li>
                  <div class="collapsible-header">
                        <img src="{% static 'img/courses/sem7/scientific-method.png' %}" style="width: 64px; height: 64px;">
                    <div class="col offset-s1" style="margin-top: 20px;">
                        <b>Research Methodology</b>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    {% if not rm %}
                      <img src="{% static 'img/sleep.gif' %}" width="230" height="150" style="border-radius: 20px;"/>
                    {% endif %}
                    {% for lecture in rm %}
                        <ul class="collapsible  z-depth-5">
                          <li>
                              <div class="collapsible-header">
                                <h5 class="col offset-s3">
                                  {% if lecture.lecture_no == 0 %}
                                    <div class="col offset-s1">Asset</div>
                                  {% else %}
                                     Lecture {{lecture.lecture_no}}
                                  {% endif %}
                                </h5>
                              </div>
                              <div class="collapsible-body">
                                  <center><h5 style="color: grey;margin-bottom: 20px;">{{lecture.lecture_na}}</h5></center>
                              <br/>
                              
                              {% if lecture.pdf != '0' %}
                                {% if lecture.pdf %}
                                  <label>PDF</label>
                                  <a href="{{lecture.pdf}}" class="btn btn-small btn-cus" target="_blank">
                                      <i class="material-icons mf" style="color: pink;">download</i>
                                  </a>
                                  <br/><br/>
                                {% endif %}
                              {% endif %}
                              {% if lecture.ppt != '0' %}
                                <label>PPT</label>
                                <a href="{{lecture.ppt}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: red;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.word != '0' %}
                                <label>WORD</label>
                                <a style="margin-left: 5px;" href="{{lecture.word}}" class="btn btn-small btn-cus" target="_blank">
                                    <i class="material-icons mf" style="color: blue;">download</i>
                                </a><br/><br/>
                              {% endif %}
                              {% if lecture.video != '0' %}
                              <label>VIDEO</label>
                                <a href="{{lecture.video}}" class="btn btn-small btn-cus-v" target="_blank">
                                    <i class="material-icons mf">download</i>
                                </a><br/>
                              {% endif %}
                          </div>
                          </li>
                      </ul>
                    {% endfor %}
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</div>
