{% load static %}

 <div class="container">
    <div class="row valign-wrapper">
        <div class="card offset-s col s12 z-depth-5" style="margin-top: 10px;">
            <form method="POST">
                {% csrf_token %}
                    <div class="container" >
                        <div style="margin-top: 20px; padding: 5px; margin-bottom: 20px;">
                            <h6>Add a New Lecture<h6/>
                            <input class="col s12" style="font-family: GothDotGothic;" type="text" value="Choose Course >>" disabled/>
                            <p class="col s6" style="margin: 10px;">
                                <input name="category" type="radio" id="cc" value="cc"/>
                                <label for="cc" style="font-family: GothDotGothic;">Cloud Computing</label>
                            </p>
                            <p class="col s6" style="margin: 10px;">
                                <input class="with-gap" name="category" type="radio" id="cnm" value="cnm" checked/>
                                <label for="cnm" style="font-family: GothDotGothic;">Computer Networks Management</label>
                            </p>
                            <p class="col s6" style="margin: 10px; margin-top: 10px">
                                <input name="category" type="radio" id="ec" value="ec" />
                                <label for="ec" style="font-family: GothDotGothic;">E-Commerce</label>
                            </p>
                            <p class="col s6" style="margin: 10px;">
                                <input name="category" type="radio" id="mad" value="mad" />
                                <label for="mad" style="font-family: GothDotGothic;">Mobile Applications Development</label>
                            </p>
                            <p class="col s6" style="margin: 10px;">
                                <input name="category" type="radio" id="osc" value="osc" />
                                <label for="osc" style="font-family: GothDotGothic;">Operating System Concepts</label>
                            </p>
                            <p class="col s6" style="margin: 10px;">
                                <input name="category" type="radio" id="rm" value="rm"/>
                                <label for="rm" style="font-family: GothDotGothic;">Research Methodology</label>
                            </p>
                        </div>

                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="lec_no" placeholder="Lecture Number (Must be number)" />
                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="lec_na" placeholder="Lecture Name (Must)" />
                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="pdf" placeholder="pdf link (leave it empty if there is not)" />
                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="ppt" placeholder="ppt link (leave it empty if there is not)" />
                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="word" placeholder="word link (leave it empty if there is not)" />
                    <input class="col offset-s2 s10" style="padding: 5px; margin: 20px;" type="text" name="video" placeholder="video link (leave it empty if there is not)" />
                    <button class="col offset-s4 s11 btn-large materialize-red" type="submit"
                    style="margin: 10px; margin-left: 12px;"><img src="{% static 'img/plus.png' %}"/></button>
            </form>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="card col s12 z-depth-4" style="margin: 0px;">-->
<!--                <table class=" highlight">-->
<!--                    <center><label><h4>Lectures</h4></label></center>-->
                    <!-- <div class="row"> -->
                    <!-- </div> -->
<!--                    <thead>-->
<!--                        <th></th>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        {% for course in courses %}-->
<!--                            {% if course %}-->
<!--                                <tr class="row" style='background-color: #dff0d8; boarder-color: #d0e9c6;'>-->
<!--                                    <td class="col s3"><p>Course: </p></td>-->
<!--                                    <td class="col s3"><p>{{course.course}}</p></td>-->
<!--                                    <td class="col s3 push-s1"><p>Lecture:</p></td>-->
<!--                                    <td class="col s2 push-s1"><p>{{course.lecture_no}}</p></td>-->
<!--                                </tr>-->
<!--                                <tr style='background-color: #dff0d8; boarder-color: #d0e9c6;'>-->
<!--                                    <td class="col s4"><p>Lecture: </p></td>-->
<!--                                    <td class="col s8 pull-s1"><p style="text-align: center;">{{course.lecture_na}}</p></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td class="row centered">-->
<!--                                        <a class="btn orange col s5" href="{% url 'update' course.id %}">-->
<!--                                            <i class="material-icons" style="font-family: materialize-icons">-->
<!--                                                edit-->
<!--                                            </i>-->
<!--                                        </a>-->
<!--                                        <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">-->
<!--                                            <i class="material-icons" style="font-family: materialize-icons">-->
<!--                                                delete-->
<!--                                            </i>-->
<!--                                        </a>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                        {% endfor %}-->
<!--                    </tbody>-->
<!--                </table>-->
<!--        </div>-->
<!--    </div>-->
<!--<div>-->





<div class="row valign-wrapper">
    <div class="card col s12 z-depth-5">
        <center><label><h4>Edit Courses</h4></label></center>
          <ul class="collapsible z-depth-0">
            <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/cloud-computing.png' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>CLoud Computing</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'cc' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/computer-servers.jpeg' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>Computer Networks Management</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'cnm' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/E-Commerce.jpeg' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>E-Commerce</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'ec' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
             <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/android.png' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>Mobile Applications Development</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'mad' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/OperatingSystemsConcepts.jpeg' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>Operating Systems Concepts</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'osc' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                <img src="{% static 'img/courses/sem7/scientific-method.jpeg' %}" style="width: 64px; height: 64px;">
                <div class="col offset-s1" style="margin-top: 20px;">
                    <b>Research Methodology</b>
                </div>
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible  z-depth-5">
                    {% for course in courses %}
                        {% if course.course == 'rm' %}
                            <li>
                                <div class="collapsible-header">
                                    <h5 class="col offset-s3">
                                    {% if course.lecture_no == 0 %}
                                      <div class="col offset-s1">Asset</div>
                                    {% else %}
                                       Lecture {{course.lecture_no}}
                                    {% endif %}
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                        <h5 class="col s12">Lecture: {{course.lecture_no}}</h5>
                                        <h5 class="col s12">Lecture name: </h5>
                                        <h5 class="col s12" style="text-align: center;">{{course.lecture_na}}</h5>
                                        <p class="row centered">
                                            <a class="btn orange col s5" href="{% url 'update' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="btn red col s5 push-s2" href="{% url 'delete_lecture' course.id %}">
                                                <i class="material-icons" style="font-family: materialize-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>